/* styling for double navbar */
html,body,header {

    font-family: 'Open Sans',sans-serif;
    scroll-behavior: smooth;
    color: black;
}

/* Navigation */
nav {
    background-color: #1db1a8;
    display: block;
}
a {
    color: #147b74;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: none;
}
.bg-primary {
    background-color: #e5f5f4!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #147B74;
}

.fixed-top {
    padding: 20px 0 0px 8px;
    background-color: #1db1a8;
}
.fixed-top .navbar-nav li a {
    font-size: 19px;
    color: #121818 !important;
}
.fixed-top .navbar-nav li a:hover {
    color: #E5F5F4 !important;
}
.header-location.radius {
    border-radius: 0 0 12px 12px;
}
.header-location {
    width: 250px;
    right: 0;
    display: block;
    /* font-size: 12px; */
    position: relative;
    background-color: #fff;
    padding: 0;
    z-index: 400;
    width: 100%;
}
.d-flex {
    justify-content: right;
}

/* text styling */
#med-finder {
    text-align: center;
}
.med-title {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: -0.037em;
    color: #78BD43;
    justify-content: center;
}
.find-title {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.037em;
    color: #00BFAE;
    justify-content: center;
}
.caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.037em;
    color: #000;
}

.btn-primary {
background-color: #147B74;
}
.left { 
    display: block;
    padding: 0 15px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
display: flex;
padding-top: 8px;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 8px;
border: 10px;
border-radius: 6px;
line-height: 1;
}
.page-header .nav {
    display: block;
    padding: 0 15px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* buttons */
.btn-primary {
    background-color: #147B74;
        display: flex;
        padding-top: 8px;
        padding-right: 120px;
        padding-left: 120px;
        padding-bottom: 8px;
        border: 10px;
        border-radius: 6px;
        line-height: 1;
        font-size: 18px;
        text-align: center;
        justify-content: center;
    }
.btn-primary:hover {
    background-color: #147B74;
}
.btn-primary:active {
    background-color: #255959;
}
.btn {
    appearance: none;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: #E5F5F4;
    color: #147b74;
    font-weight: 700;
    transition: background-color .2s;
    height: auto;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;
    padding: 11px 18px;
    min-height: 36px;
    margin: 0 5px 0 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Open Sans',sans-serif;
}
.btn:hover { 
    background-color: #147B74;
}

.button-container {
    list-style: none;
    clear: both;
    float: right;
    width: auto;
    height: auto;
    margin-top: 23px;
    display: flex;
}
.btn:visited {
    text-decoration: none;
}.btnheader-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: #ffff;
    color: #147B74;
    font-weight: 700;
    transition: background-color .2s;
    height: auto;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;
    padding: 11px 18px;
    min-height: 36px;
    margin-left: 5px;
    vertical-align: top;
    font-family: 'Open Sans',sans-serif;
}
.btnheader-btn:hover {
    background-color: #E5F5F4;
    color:#2791a3;
    text-decoration: none;
}
.btn-large {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: #ffff;
    color: #147B74;
    font-weight: 700;
    transition: background-color .2s;
    height: auto;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;
    padding: 11px 18px;
    min-height: 36px;
    margin-left: 5px;
    vertical-align: top;
    font-family: 'Open Sans',sans-serif;
}
.btn-large:hover {
    background-color: #E5F5F4;
    color:#2791a3;
    text-decoration: none;
}
/* Page content */

.container input{
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 13px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    background-image: url(./images/istockphoto-1317416781-612x612\ 1.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
    background-size: 20px;
    width: 310px;
}
.col-sm {
    margin: 10px;
    padding: 10px;
}
#check1 {
    width: 15px;
    height: auto;
}
.form-check-input {
    width: 10px;
    height: auto;
}
.page-footer {
    flex-direction: row;
    justify-content: space-between;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #1db1a8;
    border-radius: 0.3rem;
}
/* search bar */
.screenreader-only {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    top: auto !important;
}
form {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.info {
    margin-top: -4px;
}

/* Mobile functions */
@media screen and (max-width:767px){
    .navbar-dark{
    background-color: #1db1a8 !important;
    }
    
} /* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media screen (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    display: none;
    margin-top: 0;
border-radius: 0;
}
}

.modal-body{
    position: relative; 
}

/* JG Edits */

.page-header {
    background-color: #1db1a8;
}

.second-nav-container {
    background-color: #e5f5f4;
}

.second-nav-container .nav-link {
    padding: 16px;
}

.second-nav-container .dropdown .dropdown-menu {
    border-radius:0;
    position: absolute;
}

.page-header .collapse.navbar-collapse {
    justify-content: end;
}

.location {
    position: absolute;
    top: -50px;
    right: 15px;
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.page-header .container {
    position: relative;
}

@media screen and (max-width: 768px){
    .btnheader-btn {
        background-color: transparent;
        padding:0;
        color: #20615c;
        font-weight: normal;
        font-size: initial;
        margin-left: 0;
    }
    ul.navbar-nav.d-block.d-lg-none {
       margin-top: -10px;
    }
    .nav-item .btnheader-btn, .nav-item .nav-link {
       color: white !important;
    }
    .navbar-collapse > .navbar-nav {
       margin-top: 25px;
    }
}